<h2>Wines you've enjoyed (or hated, maybe)</h2>

<h4><%= link_to 'Tell me what you drank!', new_glass_path %></h4>

<ul>
  <% @glasses.each do |glass| %>
    <li><%=glass.wine.name%></li>
  <% end %>
</ul>