<h2>Wines you've enjoyed (or hated, maybe)</h2>

<h4><%= link_to 'Tell me what you drank!', new_glass_path %></h4>

<ul>
  <% @glasses.each do |glass| %>
    <li>
      <%=glass.wine.name%> (<%=glass.wine.vintage%>)
      <% (1..5).each do |i| %>
        <% if i <= glass.rating %>
          <i class="fa fa-star" aria-hidden="true"></i>
        <% else %>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>