<!DOCTYPE html>
<html>
  <head>
    <title>Winerack</title>
    <%= csrf_meta_tags %>

    <!-- Latest compiled and minified CSS -->

    <%= stylesheet_link_tag  'application', media: 'all' %>
    <%= javascript_include_tag '/packs/application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <div class="container-fluid">
      <h1>Wine Rack (By The Es)</h1>

      <%= yield %>
    </div>

  </body>
</html>
